{% assign freelance = site.pages %}
{% for page in freelance %}
  {% if page.title == "Clients" %}
<div class="freelance-header">
  <div class="flex">
    <div class="page-headline">
      <h2 data-splitting class="wavey">{{page.['Page Title']}}</h2>
      <p>
        {{page.['Page Description']}}
      </p>
    </div>
    <div class="page-image">
      <div class="image-wrapper">
        <img src="{{page.['Page Image']}}" >
      </div>
    </div>
  </div>
</div>
<div class="freelance-header white">
  <div class="flex flipped">
    <div class="page-headline top">
      <h2 class="straight-up">{{page.['Join Title']}}</h2>
      <p>
        {{page.['Join Description']}}
      </p>
    </div>
    <div class="page-image">
      <div class="image-wrapper">
        <img src="{{page.['Page Image']}}" >
      </div>
    </div>
  </div>
</div>
<div class="freelance-process our-mantra">
  <div class="section-title">
      <h2 class="straight-up left">{{page.['How it works title']}}</h2>
  </div>
  <div class="flex">
    <span class="our-mantra">{{page.['Mantra description'] | markdownify }}</span>
  </div>
</div>
<div class="freelance-roles">
  <div class="section-title">
    <h2 class="straight-up">Built by experts</h2>
  </div>
  <div class="flex">
    {% assign teams = site.team %}
    {% for team in teams %}
      <div class="role">
        <div class="role-image">
          <img src="">
        </div>
        <div class="role-sub">
          {{role.['Team Job']}}
        </div>
        <div class="role-title">
          <h2>{{team.title}}</h2>
        </div>
        <div class="role-text">
          <p>{{team.content}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="get-involved">
  <div class="section-title small">
    <h2>{{page.['Get Involved Title']}}</h2>
  </div>
  <div class="flex">
    {% for item in page.['Get Involved list'] %}
    <div class="get-involved-item">
      <h2 data-splitting class="wavey">{{item.Title}}</h2>
      <p>{{item.Text}}</p>
    </div>
    {% endfor %}
  </div>
</div>
<div class="our-work white">
  <div class="section-title">
    <h2 class="straight-up">Our work</h2>
    {% assign projects = site.projects %}
    <ul class="project-list">
      {% for project in projects %}
        <li>{{project.title}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="umbrella_work-wrapper">
  {% include work.html %}
</div>
{% endif %}
{% endfor %}
