<div class="umbrella-header">
  <div class="umbrealla-header__logo">
    <img src="assets/Umbrella_wte.png">
  </div>
</div>
<div class="umbrella_menu">
  <div class="umbrella_freelance">
    <h1>Freelancers <span>Find your perfect brief ↓</span></h1>
    <div class="load-content">
      {% include freelance.html %}
    </div>
  </div>
  <div class="umbrella_clients">
    <h1>Clients <span>Brief your perfect team ↓</span></h1>
    <div class="load-content">
      {% include clients.html %}
    </div>
  </div>
</div>
